<div class="page-center">
	<div class="col-md-12 form-group msg-success"> 
		<span class="mdi mdi-check"></span> 
		<span>Thanks! Your order is Successful!</span>
	</div>
	
	<div class="col-md-12 form-group basket container">
		<div class="col-md-12 row form-group">
			<label>Order details :</label>
			<div ng-repeat="cartItem in cartSummary track by $index">
				<span class="basket-items">{{cartItem.itemName}}</span>
			</div>
		</div>

		<div class="col-md-12 row form-group">
			<label>Delivery address :</label><br>
			<span>#310, Sector 7, HSR layout, Bangalore</span>
		</div>		
		
	</div>
	
</div>